<div [formGroup]="fotoForm" class="container">
  @for (lugar of lugares; track $index) {

  <img src="assets/lugares/{{ $index + 1 }}detalle.jpg" alt="lugar" class="imagen" />

  <mat-form-field class="selector">
    <mat-label>¿Dónde es?</mat-label>
    <mat-select [formControlName]="$index" required (selectionChange)="cambio($event)">
      @for (opcion of lugar.opciones; track opcion) {
      <mat-option [value]="opcion">{{ opcion.lugar }}</mat-option>
      }
    </mat-select>

    <mat-error>Maaal!! Haz memoria!</mat-error>
    @if (!fotoForm.get($index.toString())?.invalid && fotoForm.get($index.toString())?.touched) {
    <mat-hint>{{ lugar.resBien }}</mat-hint>
    }
  </mat-form-field>
  }
</div>
