<mat-grid-list cols="1" rowHeight="100%" *ngIf="vm$ | async as vm">
  <mat-grid-tile [style.background]="'lightblue'">
    <div class="content">
      <p>
        Para poder abrir el regalo del amigo invisible tienes que descubrir el codigo que abre la caja. Con cada prueba
        superada tendrás un numero. ¡Descúbrelos todos!
      </p>

      <button *ngIf="!vm.algunaPruebaSuperada" mat-raised-button color="accent" (click)="irPrueba1()">Iniciar</button>
      <button *ngIf="vm.algunaPruebaSuperada" mat-raised-button color="accent" (click)="resetarjuego()">
        Resetear juego
      </button>
    </div>
  </mat-grid-tile>
</mat-grid-list>
