.iconOk {
  color: green !important;
}

.iconMal {
  color: red !important;
}

mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 99999;
}
.estrellas {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 2rem;

  mat-icon {
    padding: 0 0.5rem;
    color: rgba(211, 211, 211, 0.5);
  }

  .superada {
    color: gold;
  }

  .todasSuperadas {
    animation: agrandarEncoger 2s infinite;
  }
}

@keyframes agrandarEncoger {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
}
