.iconOk {
  color: green !important;
}

.iconMal {
  color: red !important;
}

.estrellas {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 2rem;

  mat-icon {
    padding: 0 0.5rem;
    color: rgba(211, 211, 211, 0.5);
  }

  .superada {
    color: gold;
  }
}
