<mat-nav-list>
  <a mat-list-item (click)="respuesta('seCago')">
    <span matListItemTitle>Se cagó en la nevera</span>
    <span matLine>Era un apuro</span>
  </a>

  <a mat-list-item (click)="respuesta('leCagamos')">
    <span matListItemTitle>Le cagamos en la nevera</span>
    <span matLine>Nos pareció divertido</span>
  </a>

  <a mat-list-item (click)="respuesta('natilla')">
    <span matListItemTitle>Le explotamos la natilla</span>
    <span matLine>A lo mejor sin querer</span>
  </a>
</mat-nav-list>
