mat-grid-list {
  height: calc(100% - 64px) !important;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;

  p {
    color: grey;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    line-height: 2rem;
    color: #3f51b5;
  }

  .estrellas {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;

    mat-icon {
      padding: 0 0.5rem;
      width: 40px;
      text-align: center;
      color: white;
    }

    .superada {
      color: gold;
    }
  }

  .codigo {
    span {
      display: inline-block;
      width: 40px;
      text-align: center;
      padding: 0 0.5rem;
      font-size: 1.5rem;
      font-weight: bold;
      color: #ff4081;
    }
  }
}
