<div class="container">
  <p>crucigrama</p>

  <div class="crucigrama">
    <mat-grid-list [cols]="arr[0].length">
      <ng-container *ngFor="let fila of arr">
        <mat-grid-tile
          *ngFor="let col of fila"
          [ngClass]="{
            noSeleccionada: !col.sel,
            seleccionada: col.sel,
            marcada: col.marcada && !col.sel
          }"
          (click)="teclaSeleccionada(col)"
        >
          {{ col.l }}
        </mat-grid-tile>
      </ng-container>
    </mat-grid-list>
  </div>

  <div>
    <button mat-raised-button color="accent" [disabled]="juegoAcabado" (click)="comprobarPalabra()">
      Comprobar Palabra
    </button>
  </div>

  <div class="palabras">
    <p *ngFor="let palabra of palabras" [ngClass]="{ tachada: palabra.encontrada }">{{ palabra.palabra }}</p>
  </div>
</div>
